/*#main{width: 1250px;height: 750px;min-height: 750px;min-width: 1250px;}*/
#login{margin-top: 200px;margin-left: 320px;}
.mdui-textfield{margin-top: 20px;}
#title{margin-top: 200px;margin-left: 190px;}
#loginBtn,#registerBtn{float: right;margin-top: 20px;}
