<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
		<link rel="stylesheet" type="text/css" href="../resource/plugins/layui/css/layui.css" />
		<link rel="stylesheet" href="../resource/plugins/tag-editor/jquery.tag-editor.css">
		
		<style>
			.m_input {height: 35px;border: 1px solid #eee;padding-left: 5px;float: left;}
			.tag_label{float: left;margin-top: 10px;}
		</style>
	</head>
	<body>
		<div class="mdui-container-fluid">
			<input type="hidden" id="articleId" />
			<div class="mdui-m-t-1" style="height: 95px;">
				<div class="mdui-col-xs-5">
  					<span class="tag_label">标题：</span>
  					<input class="m_input" type="text" id="title" placeholder="请输入文章标题..." style="width: 86%;"/>
				</div>
				
				<div class="mdui-col-xs-5">
  					<span class="tag_label">tag：</span>
  					<input class="m_input" type="text" id="tag" placeholder="文章所属标签" style="width: 91%;"/>
				</div>
				
				<div class="mdui-col-xs-2">
  					<span class="tag_label">类别：</span>
  					<select class="m_input" style="width: 110px;" id="cateSelect">
  					</select>
				</div>
				
				<div class="mdui-col-xs-9 mdui-m-t-1">
  					<span class="tag_label">描述：</span>
  					<input class="m_input" type="text" placeholder="文章描述" style="width:92%;" id="subTitle"/>
				</div>
				
				<div class="mdui-col-xs-3 mdui-m-t-1">
					<div class="mdui-float-left">
						<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" style="width: 100px;" id="saveArticle">保存</button>
					</div>
					<div class="mdui-float-left mdui-m-l-1">
						<button class="mdui-btn mdui-ripple mdui-color-red mdui-btn-block" style="width: 100px;">预览</button>
					</div>
				</div>
			</div>
			<div id="editormd">                
	             <textarea style="display:none;"></textarea>
            </div>
  		</div>

	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
	<script type="application/javascript" src="../resource/plugins/layer/2.4/layer.js"></script> 
	<script type="text/javascript" src="../resource/plugins/tag-editor/jquery.tag-editor.js"></script>
	<script type="text/javascript" src="../resource/js/utils.js" ></script>
	<script type="text/javascript" src="../resource/js/articleConfig.js" ></script>
	
	<script type="application/javascript">
		 
		$(function(){
		
		 	$.getJSON("config.json", function (data) {
	    		new articleConfig(data);
	    	});

		});
	</script>
	
</html>
