<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
		<link rel="stylesheet" type="text/css" href="../resource/plugins/layui/css/layui.css" />
		
	</head>
	<body>
		<div class="mdui-container-fluid">
			<div class="mdui-m-t-0">
				
				<div class="mdui-textfield mdui-col-xs-6">
  					<input class="mdui-textfield-input" type="text" placeholder="文章标题"/>
				</div>
				
				<div class="mdui-textfield mdui-col-xs-3">
  					<input class="mdui-textfield-input" type="text" placeholder="文章类别"/>
				</div>
				
				<div class="mdui-textfield mdui-col-xs-3">
  					<input class="mdui-textfield-input" type="text" placeholder="文章所属标签"/>
				</div>
				
				<div class="mdui-textfield mdui-col-xs-9">
  					<input class="mdui-textfield-input" type="text" placeholder="文章描述"/>
				</div>
				<div class="mdui-float-left mdui-m-b-2 mdui-m-t-1">
					<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" style="width: 100px;" id="addArticle">保存</button>
				</div>
				<div class="mdui-float-left mdui-m-b-2 mdui-m-t-1 mdui-m-l-1">
					<button class="mdui-btn mdui-ripple mdui-color-red mdui-btn-block" style="width: 100px;" id="addArticle">预览</button>
				</div>
			</div>
			
			<div id="editormd">                
	             <textarea style="display:none;"></textarea>
            </div>
  		</div>
  		
  		
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
	<script type="application/javascript" src="../resource/plugins/layer/2.4/layer.js"></script> 
	
	<script type="application/javascript">
		
		var m_Editor;
		 
		$(function(){
		
		 	editormd.emoji = {
                path  : "https://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/",
                ext   : ".png"
            };
    
            // Twitter Emoji (Twemoji)  graphics files url path    
            editormd.twemoji = {
                path : "http://twemoji.maxcdn.com/72x72/",
                ext  : ".png"
            };
                
            m_Editor = editormd("editormd", {
				 toolbarIcons : function() {
            		return ["undo", "redo", "|", "bold","del","italic" ,"quote","ucwords","uppercase","lowercase","|","h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","hr", "|","link"/*,"reference-link"*/,"image",
            			"code","preformatted-text","code-block","table","datetime", "emoji"/*,"html-entities"*/,"|","goto-line","search","preview", "watch", "|", "fullscreen", "file", "faicon"]
       			},
				width  : "100%",
                height : 550,
                toc : true,
                emoji : true,       
                taskList : true,
                path   : '../resource/plugins/editor/lib/'
            });
		});
	</script>
	
</html>
