<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
		<link rel="stylesheet" type="text/css" href="../resource/plugins/layui/css/layui.css" />
		<link rel="stylesheet" href="../resource/plugins/tag-editor/jquery.tag-editor.css">
		
		<style>
			.m_input {height: 35px;border: 1px solid #eee;padding-left: 5px;float: left;}
			.tag_label{float: left;margin-top: 10px;}
		</style>
	</head>
	<body>
		<div class="mdui-container-fluid">
			<div class="mdui-m-t-1" style="height: 95px;">
				<div class="mdui-col-xs-5">
  					<span class="tag_label">标题：</span>
  					<input class="m_input" type="text" placeholder="请输入文章标题..." style="width: 86%;"/>
				</div>
				
				<div class="mdui-col-xs-5">
  					<span class="tag_label">tag：</span>
  					<input class="m_input" type="text" id="tag" placeholder="文章所属标签" style="width: 91%;"/>
				</div>
				
				<div class="mdui-col-xs-2">
  					<span class="tag_label">类别：</span>
  					<select class="m_input" style="width: 110px;">
  						<option>请选择类别</option>
  						<option>JAVA</option>
  						<option>SPRING</option>
  						<option>SQL</option>
  					</select>
				</div>
				
				<div class="mdui-col-xs-9 mdui-m-t-1">
  					<span class="tag_label">描述：</span>
  					<input class="m_input" type="text" placeholder="文章描述" style="width:92%;"/>
				</div>
				
				<div class="mdui-col-xs-3 mdui-m-t-1">
					<div class="mdui-float-left">
						<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" style="width: 100px;" id="addArticle">保存</button>
					</div>
					<div class="mdui-float-left mdui-m-l-1">
						<button class="mdui-btn mdui-ripple mdui-color-red mdui-btn-block" style="width: 100px;" id="addArticle">预览</button>
					</div>
				</div>
			</div>
			<div id="editormd">                
	             <textarea style="display:none;"></textarea>
            </div>
  		</div>
  		
  		
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
	<script type="application/javascript" src="../resource/plugins/layer/2.4/layer.js"></script> 
	<script type="text/javascript" src="../resource/plugins/tag-editor/jquery.tag-editor.js"></script>
	
	<script type="application/javascript">
		
		var m_Editor;
		 
		$(function(){
		
		 	editormd.emoji = {
                path  : "https://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/",
                ext   : ".png"
            };
    
            // Twitter Emoji (Twemoji)  graphics files url path    
            editormd.twemoji = {
                path : "http://twemoji.maxcdn.com/72x72/",
                ext  : ".png"
            };
                
            m_Editor = editormd("editormd", {
				 toolbarIcons : function() {
            		return ["undo", "redo", "|", "bold","del","italic" ,"quote","ucwords","uppercase","lowercase",/*"|","h1","h2","h3","h4","h5","h6",*/"|","list-ul","list-ol","hr", "|","link"/*,"reference-link"*/,"image",
            			"code",/*"preformatted-text",*/"code-block","table","datetime", "emoji"/*,"html-entities"*/,"|",/*"goto-line",*/"search","preview", "watch",/* "|", "fullscreen",*/ "file", "faicon"]
       			},
				width  : "100%",
                height : 556,
                toc : true,
                emoji : true,       
                taskList : true,
                path   : '../resource/plugins/editor/lib/'
            });
            
            
             $('#tag').tagEditor({
                placeholder: '请输入文章所属标签...'
            });

		});
	</script>
	
</html>
