<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
	
	</head>
	<body>
		
		<div class="mdui-container-fluid">
			<div class="mdui-float-left mdui-m-b-2 mdui-m-t-1">
				<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" style="width: 200px;">新增文章</button>
			</div>
			<div class="mdui-table-fluid">
				<table class="mdui-table mdui-table-selectable mdui-table-hoverable">
				    <thead>
				      	<tr>
					        <th>标题</th>
					        <th>发布时间</th>
					        <th>浏览量</th>
					        <th>发布状态</th>
					        <th>操作</th>
				      	</tr>
				    </thead>
				    <tbody>
				      	<tr class="mdui-table-row-selected">
					        <td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				      	<tr>
					        <td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				      	<tr>
				        	<td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				    </tbody>
				</table>
			</div>
  		</div>
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="application/javascript" src="../resource/plugins/datatables/1.10.0/jquery.dataTables.min.js"></script>
	
	<script type="application/javascript">
		
		
	</script>
	
</html>
