<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		 <link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
	
	</head>
	<body>
		<div class="mdui-container-fluid">
			<div class="mdui-float-left mdui-m-b-2 mdui-m-t-1">
				<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" style="width: 200px;" id="addArticle">新增文章</button>
			</div>
			<div class="mdui-table-fluid">
				<table class="mdui-table mdui-table-selectable mdui-table-hoverable">
				    <thead>
				      	<tr>
					        <th>标题</th>
					        <th>发布时间</th>
					        <th>浏览量</th>
					        <th>发布状态</th>
					        <th>操作</th>
				      	</tr>
				    </thead>
				    <tbody>
				      	<tr class="mdui-table-row-selected">
					        <td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				      	<tr>
					        <td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				      	<tr>
				        	<td>spring,quartz任务动态调用</td>
					        <td>2017-06-28 17:25</td>
					        <td>56</td>
					        <td>草稿</td>
					        <td>删除</td>
				      	</tr>
				    </tbody>
				</table>
			</div>
  		</div>
  		
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="application/javascript" src="../resource/plugins/datatables/1.10.0/jquery.dataTables.min.js"></script>
	 <script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
	
	<script type="application/javascript">
		
		var m_Editor;
		 
		$(function(){
		
			$('#addArticle').bind('click',function(){
				layer.open({
					title :'添加文章',
					maxmin:false,
				  	type: 2,
				  	area: ['100%', '100%'],
				  	fixed: false, //不固定
				  	content: 'addArticle.html'
				});
			});
		
		 	editormd.emoji = {
                path  : "https://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/",
                ext   : ".png"
            };
    
            // Twitter Emoji (Twemoji)  graphics files url path    
            editormd.twemoji = {
                path : "http://twemoji.maxcdn.com/72x72/",
                ext  : ".png"
            };
                
            m_Editor = editormd("editormd", {
                width  : "90%",
                height : 700,
                toc : true,
                emoji : true,       
                taskList : true,
                path   : '../resource/plugins/editor/lib/'
            });
		});
	</script>
	
</html>
