<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" href="../resource/plugins/simple-calendar/simple-calendar.css">

	</head>
	<body>
		<div class="mdui-container-fluid">
			
			<div class="mdui-tab mdui-tab-full-width" mdui-tab>
	  			<a href="#tab1-content" class="mdui-ripple mdui-ripple-white">
	    			<i class="mdui-icon material-icons">&#xeb3b;</i>
	    			<label>类别</label>
	  			</a>
	  			<a href="#tab2-content" class="mdui-ripple mdui-ripple-white">
	    			<i class="mdui-icon material-icons">&#xe3f9;</i>
	    			<label>标签</label>
	  			</a>
			</div>
			
			<div id="tab1-content" class="mdui-p-a-2" style="1px solid red;">
				<div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">Java</span>
				</div><div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-red"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">Java</span>
				</div>
				<div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-orange"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">Java</span>
				</div>
				<div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-pink"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">Java</span>
				</div>
				<div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-yellow"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">Java</span>
				</div>
			</div>
			<div id="tab2-content" class="mdui-p-a-2">
				<div class="mdui-chip">
				  	<span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe60e;</i></span>
				  	<span class="mdui-chip-title">前端</span>
				</div>
			</div>
			
		</div>
		
		
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	
	<script type="application/javascript">
		
		$(function(){
		
		 
		});
	</script>
	
</html>
