<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" href="../resource/plugins/simple-calendar/simple-calendar.css">
		<link rel="stylesheet" href="../resource/plugins/dropzone/css/dropzone.css"  />  

		<style>
			.dz-preview{float: left;}
		</style>
	</head>
	<body>
		<div class="mdui-container-fluid">
			
	  		<form action="#" class="dropzone mdui-m-t-1" id="dropzone">
                <div class="fallback">
                	<input name="file" type="file" multiple="multiple"/>
                </div>
		        <div class="dz-message" style="font-size: 25px;">
		                             将文件拖至此处或点击上传.
		        </div>
          	</form>
          
          
		</div>
		
		
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="text/javascript" src="../resource/plugins/dropzone/dropzone.js"></script>  
	
	<script type="application/javascript">
		
		$("#dropzone").dropzone({
	        paramName: "file",
	        url: "/admin/attach/upload",
	        maxFilesize: 1,
	        init: function () {
	            this.on("success", function (file, msg) {
	                console.log(file);
	                if (msg.success !== true) {
	                    tale.alertError('上传文件大于1M');
	                }
	                setTimeout(function () {
	                    window.location.reload();
	                }, 200);
	            });
	        },
	        sending:function(){
	        	$(".dz-message").hide();
	        },
	        success:function(){
	        	$(".dz-message").hide();
	        }
    	});
		
		$(function(){

		});
	</script>
	
</html>
