<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>pinkylam笔记</title>
    
	<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
	<link rel="stylesheet" href="../resource/css/login.css" />
	
</head>

<body>
	<div class="mdui-container-fluid" id="main">
		<div class="mdui-col-xs-6 " id="login">
			<div class="mdui-typo-display-1-opacity mdui-m-t-1" id="title">pinkyLam登录</div>
			<div class="mdui-center">
				<div class="mdui-textfield">
	        		<i class="mdui-icon material-icons">&#xe853;</i>
	          		<input class="mdui-textfield-input" id="account" type="text" placeholder="请输入账号...">
	        	</div>
	        	<div class="mdui-textfield">
	        		<i class="mdui-icon material-icons">&#xe0da;</i>
	          		<input class="mdui-textfield-input" id="pwd" type="password" placeholder="请输入密码...">
	        	</div>
	        	<button class="mdui-btn mdui-ripple mdui-color-blue mdui-btn-block" id="loginBtn">登录</button>
	        	<button class="mdui-btn mdui-ripple mdui-color-blue-a700 mdui-btn-block" id="registerBtn">注册账号</button>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.min.js" ></script>
<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>

<script type="application/javascript">
	
	$(function(){
		
//		var redis = require("redis");
//  	client = redis.createClient(6379, "127.0.0.1");
//
//		client.on("error", function(err){
//		    console.log("Error: " + err);
//		});
//		client.set("test", "hhhhhh");
		
		var host;
		$.getJSON("config.json", function (data) {
        	host = data.host.url;
        });
	
		$('#loginBtn').bind('click',function(){
			
			var account = $.trim($("#account").val());
			var pwd = $.trim($("#pwd").val());
		
			if(account==null || account==""){
				layer.msg('账号不能为空！', {icon: 7});
				return;
			}
		
			if(pwd==null || pwd==""){
				layer.msg('密码不能为空！', {icon: 7});
				return;
			}

			$.post(host+"user/login/"+account+"/"+pwd,{},function(data){
				if(data.success){
					window.location.href = "index.html";
				} else {
					layer.msg("登陆失败，请检查用户名与密码!", {icon: 7});
				}
			}).fail(function(data){
				layer.msg("系统异常，请联系系统管理员!", {icon: 7});
			});
		});
		
	});
</script>

</html>