<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Emoji - Editor.md examples</title>
        <link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
    </head>
    <body>
        <div id="layout">
            <div id="test-editormd">                
                <textarea style="display:none;">
                	### Emoji 表情 :smiley:
					[TOC]
					### Emoji
					Emoji cheat sheet for Campfire and GitHub.
				</textarea>
            </div>
        </div>     
        
        <script type="application/javascript" src="../resource/js/jquery.min.js"></script>
        <script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
        
        <script type="text/javascript">
            var testEditor;
            
            $(function() {

                // You can custom Emoji's graphics files url path
                editormd.emoji     = {
                    path  : "https://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/",
                    ext   : ".png"
                };
    
                // Twitter Emoji (Twemoji)  graphics files url path    
                editormd.twemoji = {
                    path : "http://twemoji.maxcdn.com/72x72/",
                    ext  : ".png"
                };
                
                testEditor = editormd("test-editormd", {
                    width  : "90%",
                    height : 720,
                    toc : true,
                    emoji : true,       // Support Github emoji, Twitter Emoji(Twemoji), fontAwesome, Editor.md logo emojis.
                    taskList : true,
                    path   : '../resource/plugins/editor/lib/'
                });
            });
        </script>
    </body>
</html>