<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pinkylam笔记</title>
		
		<link rel="stylesheet" href="../resource/plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../resource/css/index.css" />
		<link rel="stylesheet" href="../resource/css/article.css" />
		<link rel="stylesheet" href="../resource/plugins/editor/css/editormd.css" />
		<link rel="stylesheet" type="text/css" href="../resource/plugins/simple-calendar/simple-calendar.css">
		<link rel="stylesheet" type="text/css" href="../resource/plugins/layui/css/layui.css" />
		<link rel="stylesheet" href="../resource/plugins/tag-editor/jquery.tag-editor.css">
		
	</head>
	<body>
		<div class="mdui-container-fluid">
			<div id="editormd" class="mdui-m-t-1">                
	             <textarea style="display:none;"></textarea>
            </div>
  		</div>
	</body>
	
	<script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/plugins/mdui/js/mdui.js" ></script>
	<script type="text/javascript" src="../resource/plugins/layer/2.4/layer.js" ></script>
	<script type="text/javascript" src="../resource/plugins/editor/editormd.js" ></script>
	<script type="application/javascript" src="../resource/plugins/layer/2.4/layer.js"></script> 
	<script type="text/javascript" src="../resource/plugins/tag-editor/jquery.tag-editor.js"></script>
	<script type="text/javascript" src="../resource/js/utils.js" ></script>
	<script type="text/javascript" src="../resource/js/previewPageConfig.js" ></script>
	
	<script type="application/javascript">
		 
		$(function(){
			
			$.getJSON("config.json", function (data) {
	    		new previewPageConfig(data);
	    	});
			
		});
		
	</script>
	
</html>
